.chocolat-overlay {
  background: #000;
  opacity: 0.9;
}

.chocolat-bottom {
  display: none;
}

.chocolat-wrapper .chocolat-close {
  background: none;
  font-size: 50px;
  font-weight: 300;
  right: -5px;
  top: 5px;
}

.images-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: space-between;
  flex-wrap: wrap;
  flex: 1;
  margin-top: 30px;
}

.image__wrapper {
  width: 33.333333333336%;
}

.margin-wrapper {
  margin-right: 20px;
  margin-left: 20px;
  margin-bottom: 40px;
}

.image--thumb {
  width: 100%;
  display: block;
}

.margin-wrapper:hover {
  opacity: .7;
  -webkit-transition: opacity 0.2s ease-in-out;
  -moz-transition: opacity 0.2s ease-in-out;
  -o-transition: opacity 0.2s ease-in-out;
  transition: opacity 0.2s ease-in-out;
  cursor: pointer;
}
