@media (max-width:900px) {
  .header {
    height: 140px;
    margin-top: 30px;
  }

  .header__top-bar {
    flex-direction: column;
    text-align: center;
    justify-content: space-around;
  }

  .nav-item a {
    padding: 30px 15px 0;
  }

  .nav-item a.selected {
    border-top: none;
    padding-top: 30px;
    padding-bottom: 5px;
    color: #146a8c;
    border-bottom: 2px solid #146a8c;
  }

  .main {
    flex-direction: column;
    padding-top: 0;
    margin-top: 40px;
    display: block;
    text-align: center;
  }

  .profile-pic {
    max-width: 400px;
    margin: 30px 0;
  }

  .project-list {
    font-size: 55px;
  }
}

@media (max-width:480px) {
  .nav-item a {
    font-size: 14px;
    padding: 30px 10px 0;
  }

  .profile-pic {
    max-width: 225px;
  }

  .blurb {
    font-size: 20px;
    line-height: 28px;
  }

  .blurb a {
    background-position: 0 22px;
  }

  .index-blurb {
    width: 100%;
  }

  .project-list {
    font-size: 40px;
  }

  .project-list li {
    margin-bottom: 50px;
  }
}
